.contact-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #cf6400;
  color: rgba(255, 255, 255, 0.801);
}

.form-group {
  width: 50vw;
}
