:root {
  --primary-dark: #0f0f0fe7;
  --primary-orange: #e66f00;
  --primary-white: rgba(255, 255, 255, 0.801);
  --primary-gradient: linear-gradient(360deg, #000000, #000000f6);
}

.header-wrapper {
  height: 100vh;
  width: 100vw;
  background: var(--primary-gradient);
  color: var(--primary-orange);
}

.main-info {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  padding-left: 10vw;
}

.main-info h1 {
  font-weight: 900;
  font-size: 10vw;
  z-index: 2;
}
.main-info p {
  font-size: 7vw;
  z-index: 2;
}

.typed-text-animation {
  color: var(--primary-white);
  font-size: 3vw;
  z-index: 2;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.particlesMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .particles {
    display: none;
  }

  .particlesMobile {
    display: contents;
  }
}
